name: GitHub Stats
on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: jasonlong/github-stats@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
